.noto-serif-primary-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  box-sizing: border-box;
  margin: 0;
}

/* shared styles */
.flex {
  display: flex;
}
.button-primary {
  border: none;
  color: white;
  font-weight: bold;
  background-color: #e95a08;
  padding: 15px 25px;
  cursor: pointer;
}

.margin-auto {
  max-width: 1140px;
  margin: 0 auto;
}
.section-heading {
  font-size: 3.12rem;
  font-weight: bold;
}
.section-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.38rem;
}
.dis-flex {
  display: flex;
}
.primary-color {
  color: #e95a08;
}
/* Nav bar */
.nav-bar {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar a {
  text-decoration: none;
  margin: 0;
  margin-left: 48px;
  color: black;
}
.menu-color {
  color: #8987a1;
}

/* Banner */
.banner {
  margin-top: 120px;
  margin-bottom: 100px;
}
.banner-img {
  max-width: 570px;
}
.banner-img img {
  width: 100%;
}
.banner-content {
  padding-top: 80px;
}

/* Plant lover section style */
.plant-lover-container {
  align-items: center;
  justify-content: space-between;
}
.plant-lover {
  max-height: auto;
}
.plant-lover-list li {
  margin-top: 20px;
}
.plant-lover-img {
  max-width: 540px;
}
.plant-lover-img img {
  width: 100%;
}
.plant-lover-heading {
  margin: 0;
}

.plant-lover-details {
  max-width: 540px;
  margin: 38px 0;
}
/* add badge */
.badge {
  width: 286px;
  height: 286px;
  background: transparent;
  position: relative;
  left: 350px;
  top: 200px;
}

/* deals section */
.deals {
  margin-top: 134px;
  margin-bottom: 0;
}
.deals-heading {
  margin: 0;
}
.deal-description {
  margin-top: 16px;
}
.deals-details {
  text-align: center;
}
.deals-details div {
  max-width: 888px;
  margin: 0 auto;
}

.discount-img-align {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Deal image */
.left-first {
  filter: brightness(90%);
  background-image: url("../assets/deal-bloom.png");
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: grid;
  align-content: center;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
.left-second {
  filter: brightness(90%);
  background-image: url("../assets/deal-ana.png");
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: grid;
  align-content: center;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
.left {
  max-width: 423px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  filter: brightness(90%);
  background-image: url("../assets/deal-zabo.png");
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: grid;
  align-content: center;
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}
.deal-img {
  margin-top: 120px;
  display: flex;
  gap: 20px;
  height: 367px;
}
.deal-img a {
  color: white;
  font-size: medium;
}

/* Join Section */

.join {
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
  color: white;
  margin-top: 120px;
}
.join-box {
  max-width: 830px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.join-box input {
  padding: 15px;
  border: none;
  flex: 1;
}
.join-heading {
  margin-bottom: 25px;
}
/* Footer style */
.foot {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  gap: 80px;
}
.first {
  max-width: 360px;
}
.first img {
  margin-bottom: 10px;
}

.second li,
.third li {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
}
.second li a,
.third li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.fourth img {
  margin: 0;
  margin-left: 25px;
}
/* Responsive design for mobile device */
@media screen and (max-width: 576px) {
  .plant-lover-container,
  .foot {
    flex-direction: column;
  }
  .badge {
    display: none;
  }
  .join {
    overflow-x: hidden;
  }
  .deal-img {
    flex-direction: column;
    height: auto;
  }
  .first {
    margin-left: 25px;
  }

  .left,
  .right {
    max-width: 100%;
  }
  .left-first,
  .left-second,
  .right {
    height: 200px;
    flex: none;
  }
  .home-menu {
    display: none;
  }
  .nav-bar {
    padding: 0 10px;
  }
  .banner {
    flex-direction: column-reverse;
  }
}
